/* h1{
    color:red;
}
p{
    color:black;
}

body{
    background-color: pink;
}

button{
    color: rgb(58, 17, 48);
} */
/* 
*{
    color:pink;
}

#heading{
    color:rgb(160, 81, 235)
}
.class{
    color: rgb(165, 81, 243);
} */

/* .box{
    background-color: pink;
    color: black;
}
h1,h2{
    color:plum;
}
button{
    background-color: rgb(91, 237, 118);
} */

p{
    text-align: center;
}